span{
    display:block;
    align-items: center;
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
}
.title-container{
    padding: 20px;
    background-color: #3F51B5;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
[mat-raised-button]:not(:last-child){
    margin-right: 10px;
}
.number{
   position: relative;
}
.plusBtn{
    position: absolute;
    right: 0px;
    top:0px;
    width: 30px;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: aliceblue;
    cursor: pointer;
}